<html>
    <head>
        <title>Lev's Delight</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/site-state.css" />
        
        
        <!-- CSS for jQuery Picture Gallery -->
        <!-- <link rel="stylesheet" href="static/css/basic.css" type="text/css" /> -->
        <link rel="stylesheet" href="{{STATIC_URL}}css/galleriffic-2.css" type="text/css" />

        {% block css_includes %}{% endblock %}

        {% block meta_data %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div id="logo">
                    <h2>Lev's Delight</h2>
                    <h3>by Jason and Natty</h3>
                </div>
                <div id="login">
                    {% include 'login.html' %}
                    <div id="site-state">
                        {% include 'site-state.html' %}
                    </div>
                </div>
            </header>

            <div id="content">

                {% block content %}{% endblock %}

            </div>

        </div> <!-- END - wrapper ID -->

        <!-- jQuery library -->
		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> -->
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.3.js"></script>

        <!-- Gallerific JavaScript-->
            <script type="text/javascript" src="{{STATIC_URL}}js/jquery-galleriffic-2.js"></script>
            <script type="text/javascript" src="{{STATIC_URL}}js/jquery.opacityrollover.js"></script>

        <!-- JavaScript -->
        
        <!-- <script type="text/javascript" src="../extjs/ext-4-0-2a/ext-all.js"></script> -->
        <!-- <script type="text/javascript" src="{{STATIC_URL}}js/ajax.js"></script> -->
        <script type="text/javascript" src="{{STATIC_URL}}js/addingFiles.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/loginAndSuch.js"></script>
        <!-- Snow Layer -->
        <!-- <script type="text/javascript" src="../js/snow.js"></script> -->
        {% block javascript_includes %}{% endblock %}
        <script type="text/javascript">
            document.write('<style>.noscript { display: none; }</style>');
        </script>
        


    </body>
</html>

