<html>
    <head>
        <title>Lev's Delight</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" />
        {% block css_includes %}{% endblock %}
    </head>
    <body>
        <h2>Settings</h2>
        <!-- If you have static problems these might help: -->
        Settings Root: <h5>{{ settingsPath }}</h5>
        Project Root: <h5>{{ projectPath }}</h5>
        Static Root: <h5>{{ staticPath }}</h5>
        {% block content %}
        {% endblock %}

        {% block javascript_includes %}{% endblock %}

    </body>
</html>

