{% extends 'base.html' %}

{% block css_includes %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/blog.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/blog.scss.css" /> -->
{% endblock %}

{% block content %}


<div id="caption">
    Blog
</div>

<div id='blog-main' ng-app="levs-blog">
    <div ng-include src=' "{{STATIC_URL}}angular/partials/blog-main.html" '></div>
</div> <!-- blog-main -->


<!-- <div id="blog-preview" ng-app="levs-blog"> -->
<!--     <div ng-include src= ' "{{STATIC_URL}}angular/partials/blog-preview.html" '></div> -->
<!-- </div> -->


{% endblock %}

{% block javascript_includes %}
<!-- <script type="text/javascript" src="{{STATIC_URL}}js/vendor/lodash.min.js"></script> -->
<!-- <script type="text/javascript" src="{{STATIC_URL}}js/vendor/s3upload.js"></script> -->
<!-- <script type="text/javascript" src="{{STATIC_URL}}js/slideshow.js"></script> -->

{% endblock %}
