<ul id="menu">
    <li><a href="#">2012</a>
        <ul>
            <li><a href="/slideshow/2012/january">January</a></li>
            <li><a href="/slideshow/2012/february">February</a></li>
            <li><a href="/slideshow/2012/march">March</a></li>
            <li><a href="/slideshow/2012/april">April</a></li>
            <li><a href="/slideshow/2012/may">May</a></li>
            <li><a href="/slideshow/2012/june">June</a></li>
            <li><a href="/slideshow/2012/july">July</a></li>
            <li><a href="/slideshow/2012/august">August</a></li>
            <li><a href="/slideshow/2012/september">September</a></li>
            <li><a href="/slideshow/2012/october">October</a></li>
            <li><a href="/slideshow/2012/november">November</a></li>
            <li><a href="/slideshow/2012/december">December</a></li>
        </ul>
    </li>
    <li><a href="#">2013</a>
        <ul>
            <li><a href="/slideshow/2013/january">January</a></li>
            <li><a href="/slideshow/2013/february">February</a></li>
            <li><a href="/slideshow/2013/march">March</a></li>
            <li><a href="/slideshow/2013/april">April</a></li>
            <li><a href="/slideshow/2013/may">May</a></li>
            <li><a href="/slideshow/2013/june">June</a></li>
            <li><a href="/slideshow/2013/july">July</a></li>
            <li><a href="/slideshow/2013/august">August</a></li>
            <li><a href="/slideshow/2013/september">September</a></li>
            <li><a href="/slideshow/2013/october">October</a></li>
            <li><a href="/slideshow/2013/november">November</a></li>
            <li><a href="/slideshow/2013/december">December</a></li>
        </ul>
    </li>
    <li><a href="#">2014</a>
        <ul>
            <li><a href="/slideshow/2014/january">January</a></li>
            <li><a href="/slideshow/2014/february">February</a></li>
        </ul>
    </li>
</ul>
