{% extends 'base.html' %}

{% block css_includes %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/slideshow.css" />
{% endblock %}

{% block content %}

<div id="caption">
    {% if slideMonth and slideYear %}
    {{ slideMonth|capfirst }} | {{ slideYear }} 
    {% endif %}
</div>



<div id="thumbs">
    <ul class="thumbs">

        {% for s in allSlides %}
        <li>
            <a class="thumb" href="{{STATIC_URL}}img/{{s.pictureLocation}}" width="100" height="100" title="{{s.title}}">
                <img class="slide" src="{{STATIC_URL}}img/{{s.pictureLocation}}" alt="{{s.title}}" />
            </a>
            <div class="caption">{{ s.desc }}</div>
        </li>
        {% endfor %}

    </ul>
    <div id="pagination">

    </div>
</div> <!-- END thumbs -->


<div id="pictureViewer">
    <div class="slide">
        <img src="" />
        <div class="title"></div>
        <div class="desc"></div>
        <div class="download-link">
            <a href="" target="_blank">Open Original Image</a>
        </div>
    </div>

</div>


{% endblock %}

{% block javascript_includes %}
<script type="text/javascript" src="{{STATIC_URL}}js/vendor/lodash.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/vendor/s3upload.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/slideshow.js"></script>

{% endblock %}
