$primary-color: red;
$body-text-color: rgb(51, 51, 51);

.blogs-wrapper {
    padding-left: 10px;
    padding-top: 15px;
}

.post {
    margin-bottom: 35px;    
}

#caption {
    padding: 45px 0px 0px 15px;
    font-size: 21px;
}

.post-title {
    font-weight: bold;
    color: darkgrey;
    font-size: 22px;
}

.post-author-timestamp {
    margin-left: 40px;
    font-style: italic;
}

.post-body {
    box-sizing: border-box;
    color: $body-text-color;
    font-family: proxima_nova_rgregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin: 18px 0px 18px 0px;
}

.comments-section {

    h4 {
        margin: 5px 0px 5px 0px;
        color: darkgrey;
        font-weight: bold;
        font-size: 16px;
    }

    &.nothing-yet {
        display: none;
    }
}

.commenter-name {
    margin: 7px 0px 0px 5px;
    font-size: 12px;
    color: grey;
}

.comment-body {
    color: $body-text-color;
    margin-left: 15px;
    font-size: 13px;
    font-style: italic;
}

/* Add Comment Section - BEGIN */

.add-comment {
    border-top: 1px solid #000;
    margin-top: 20px;
    max-width: 400px;

    label {
        display: inline-block;
        width: 42px;
        vertical-align: top;
    }

    fieldset {
        border: none;
    }
    
    #comment-submit {
        margin-left: 323px;
    }
}

/* Add Comment Section - END */

/* Blog Preview Section - BEGIN */

#blog-preview {
    /* background-color: yellow; */
    border-radius: 6px;
    border: 1px solid blue;
    display: inline-block;
    margin: 15px 0px 0px 40px;
    min-height: 500px;
    padding: 5px;
    vertical-align: top;
    width: 250px;

    h2 {
        color: black;
        margin: 0px 0px -4px 5px;

        .header {
            height: 10px;
            background-color: cornflowerblue;
            border-radius: 7px;
        }
    }

    .author-timestamp {
        background-color: grey;
        color: white;
        padding-left: 8px;
        line-height: 17px;
        border-radius: 8px;
    }
}

/* Blog Preview Section - END */

