body {
    height: 1000;
}
#thumbs {
    display: inline-block;
}

.pictureChooser {
    width: 270px;
    height: 500px;
}

.pictureChooser ul {
    padding-left: 12px;
}

.pcThumb {
    list-style: none;
    float: left;
    margin-right: 20px;

}

.pcThumb img {
    height: 100px;
    width: 100px;
    padding: 2px;
}

#pictureViewer {
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
}

#page-navigation {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    border: 1px solid #000;
}
