<div class="blogs-wrapper" ng-controller="BlogCtrl">
    <div class="post" ng-repeat="post in posts">
        <div class="post-header">
            <div class="post-title">
                {{post.fields.title}}
            </div>  <!-- .post-title -->
            <div class="post-author-timestamp">
                by {{post.fields.author_id[0]}} on {{post.momentDate}} which was
                 about {{post.momentRelative}}
            </div>  <!-- .post-author-timestamp -->
            <div class="post-body">
                {{post.fields.postText}}
            </div>
            <hr class="post-spacer" />
        </div>  <!-- .post-header -->
        <div class="comments-section" ng-class="{'nothing-yet': !post.comments}">
            <h4>Comments</h4>
            <div class="comments" ng-repeat="comment in post.comments">
                <div class="commenter-name">
                    {{comment.momentRelative}} {{comment.fields.commenter_name}} said:
                </div>
                <div class="comment-body">
                    "{{comment.fields.comment}}"
                </div>
            </div> <!-- .comments -->
            <div class="add-comment">
                <h4>Add Comment</h4>
                <form action="/comment/add" method="PUT">
                    <fieldset>
                        <label for="comment-name">Name: </label>
                        <input type="text" id="comment-name" />
                    </fieldset>
                    <fieldset>
                        <label for="comment-text">Message: </label>
                        <textarea rows="5" cols="40" id="comment-text">
                        </textarea>
                    </fieldset>

                    <input id="comment-submit" type="submit" value="Post" />
                </form>
            </div> <!-- .add-comment -->
        </div> <!-- .comments-section -->
    </div>
</div>  <!-- .blogs-wrapper -->
